# EditorConfig file for C database project
# https://editorconfig.org/

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# Tab indentation for Makefiles (required)
[Makefile]
indent_style = tab

# C files
[*.{c,h}]
indent_style = space
indent_size = 4

# Header files
[*.h]
indent_style = space
indent_size = 4

# Other file types
[*.md]
trim_trailing_whitespace = false

[*.{json,yml}]
indent_style = space
indent_size = 2